* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	background: #FBEEDA;
	overflow: hidden;
	margin: 0;
}

.atta {
	position: absolute;
	background-image: url(../../assets/img/flowcharts/SVGs/males/questions_male-06.svg);
	background-repeat: no-repeat;
	width: 11.37820513%;
	height: 11.00196464%;
	top: 5.10805501%;
	left: 10.73717949%;
}

.circle-male-4 {
	position: absolute;
	background-image: url(../../assets/img/flowcharts/SVGs/males/circles_male-04.svg);
	background-repeat: no-repeat;
	width: 9.615384615%;
	height: 11.78781925%;
	top: 17.09233792%;
	left: 22.75641026%;
}

.circle-male-1 {
	position: absolute;
	background-image: url(../../assets/img/flowcharts/SVGs/males/circles_male-01.svg);
	background-repeat: no-repeat;
	width: 9.615384615%;
	height: 11.78781925%;
	top: 33.00589391%;
	left: 26.6025641%;
}

.circle-male-5 {
	position: absolute;
	background-image: url(../../assets/img/flowcharts/SVGs/males/circles_male-05.svg);
	background-repeat: no-repeat;
	width: 9.615384615%;
	height: 11.78781925%;
	top: 44.00785855%;
	left: 6.570512821%;
}

.circle-male-2 {
	position: absolute;
	background-image: url(../../assets/img/flowcharts/SVGs/males/circles_male-02.svg);
	background-repeat: no-repeat;
	width: 9.615384615%;
	height: 11.78781925%;
	top: 48.33005894%;
	left: 29.48717949%;
}

.circle-male-3 {
	position: absolute;
	background-image: url(../../assets/img/flowcharts/SVGs/males/circles_male-03.svg);
	background-repeat: no-repeat;
	width: 9.615384615%;
	height: 11.78781925%;
	top: 63.06483301%;
	left: 20.3525641%;
}

.circle-female-8 {
	position: absolute;
	background-image: url(../../assets/img/flowcharts/SVGs/females/circles_female-08.svg);
	background-repeat: no-repeat;
	width: 9.615384615%;
	height: 11.78781925%;
	top: 23.96856582%;
	left: 42.62820513%;
}

.circle-female-1 {
	position: absolute;
	background-image: url(../../assets/img/flowcharts/SVGs/females/circles_female-01.svg);
	background-repeat: no-repeat;
	width: 9.615384615%;
	height: 11.78781925%;
	top: 58.3497053%;
	left: 45.83333333%;
}

.circle-female-7 {
	position: absolute;
	background-image: url(../../assets/img/flowcharts/SVGs/females/circles_female-07.svg);
	background-repeat: no-repeat;
	width: 9.615384615%;
	height: 11.78781925%;
	top: 24.36149312%;
	left: 61.85897436%;
}

.circle-female-5 {
	position: absolute;
	background-image: url(../../assets/img/flowcharts/SVGs/females/circles_female-05.svg);
	background-repeat: no-repeat;
	width: 9.615384615%;
	height: 11.78781925%;
	top: 50.88408644%;
	left: 61.53846154%;
}

.circle-female-4 {
	position: absolute;
	background-image: url(../../assets/img/flowcharts/SVGs/females/circles_female-04.svg);
	background-repeat: no-repeat;
	width: 9.615384615%;
	height: 11.78781925%;
	top: 65.02946955%;
	left: 66.50641026%;
}

.circle-female-2 {
	position: absolute;
	background-image: url(../../assets/img/flowcharts/SVGs/females/circles_female-02.svg);
	background-repeat: no-repeat;
	width: 9.615384615%;
	height: 11.78781925%;
	top: 74.65618861%;
	left: 56.08974359%;
}

.circle-female-9 {
	position: absolute;
	background-image: url(../../assets/img/flowcharts/SVGs/females/circles_female-09.svg);
	background-repeat: no-repeat;
	width: 9.615384615%;
	height: 11.78781925%;
	top: 16.11001965%;
	left: 75.48076923%;
}

.circle-female-6 {
	position: absolute;
	background-image: url(../../assets/img/flowcharts/SVGs/females/circles_female-06.svg);
	background-repeat: no-repeat;
	width: 9.615384615%;
	height: 11.78781925%;
	top: 45.38310413%;
	left: 78.84615385%;
}

.circle-female-3 {
	position: absolute;
	background-image: url(../../assets/img/flowcharts/SVGs/females/circles_female-03.svg);
	background-repeat: no-repeat;
	width: 9.615384615%;
	height: 11.78781925%;
	top: 76.22789784%;
	left: 76.12179487%;
}

.welldone {
	position: absolute;
	background-image: url(../../assets/img/flowcharts/SVGs/males/questions_male-07.svg);
	background-repeat: no-repeat;
	width: 16.98717949%;
	height: 9.430255403%;
	top: 79.56777996%;
	left: 38.78205128%;
}
